<!DOCTYPE html>
<html ng-app="snakeGame">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="static/snake.js"></script>
  <script src="static/main.js"></script>
</head>

<body>


  <div class="container-fluid" ng-controller="MainCtrl as MainCtrl">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div id="gameDiv" ng-hide="MainCtrl.usernameSet">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <p style="font-weight:bolder;font-size:large" id="score">Score : {{score}}</p>
            </div>
            <div class="col-sm-6 col-md-6">
              <button id="restart" type="button" class="btn btn-info">Play again</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div id="snakeCanvas"></div>
            </div>
          </div>
          <div id="controls">
            <div class="row">
              <div class="col-sm-12 col-sm-12">
                <h3 class="text-left">Controls to move mouse:</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6">
                <button id="ctrlCntrClck" type="button" class="btn btn-info btn-lg" style="padding: 35px 30px;">Counter   <span class="glyphicon glyphicon-repeat gly-flip-horizontal"></span></button>
              </div>
              <div class="col-xs-6 col-sm-6">
                <button id="ctrlClck" type="button" class="btn btn-info btn-lg" style="padding: 35px 30px;">Clockwise <span class="glyphicon glyphicon-repeat"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div id="initialDiv" class="row" ng-hide="MainCtrl.usernameSet">
          <div class="col-xs-12">
            <h2>Welcome to the famous snake game {{MainCtrl.username}}!</h2>
            <h4>Please enter name to start: (3-10 characters) </h4>
          </div>
          <div class="col-xs-12">
            <label for="playerName">Name:</label>
            <input type="text" id="playerName" ng-model="MainCtrl.username"></input>
            <button id="startGame" type="button" class="btn btn-info" ng-click="MainCtrl.startGame()">Start Game</button>
            <div class="alert"> {{MainCtrl.errorMsg}}</div>
          </div>
          <div class="col-xs-12">
            <h3>How to play</h3>
            <blockquote>
              <p>There are 2 buttons, one is called <code>Counter <span class="glyphicon glyphicon-repeat gly-flip-horizontal"></span></code>, which moves the snake counter-clockwise. The other button is called <code>Counter <span class="glyphicon glyphicon-repeat"></span></code>,
                which, as you might have guessed, moves the snake clockwise. <br><br> If you are playing on a computer, you can control the snake through your cursor keys.</p>
              <footer>From the snake game developer</footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <h3 class="text-left">LEADERBOARD</h3>
        <table class="table table-striped" id="highScoreTable">
          <thead>
            <tr>
              <th>Position</th>
              <th>Name</th>
              <th>High Score</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Prashant Gupta</td>
              <td>999</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
